@keyframes display {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0;
    }
  }

.display {
    animation: display;
    animation-duration: .7s;
}

.loader {
    position: relative;
    text-align: center;
    top: 200px;
}

.homeImageGridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cropped {
    height: 350px; 
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    color: white
}

.pictureTitle {
    /* display: none; */
    position: absolute;
    z-index: 1;
    font-size: 35px;
    font-weight: bold;
    /* center text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pictureTitle2 {
    /* display: none; */
    position: absolute;
    z-index: 1;
    font-size: 35px;
    font-weight: bold;
    color: white;
    /* center text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cropped img:hover .pictureTitle {
    display: block;
}

.cropped img {
    width: 45vw;
    min-height: 350px;
}

.contactImage {
    position: relative;
    top: -150px;
}

.cropped2 {
    height: 400px; 
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    margin: 60px 40px 60px 40px;
    position: relative;
    width: 94.75vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
    background-image: url('../../assets/matterhorn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


@media only screen and (max-width: 1470px) {
    .contactImage {
        top: -100px;
    }
}

@media only screen and (max-width: 1330px) {
    .contactImage {
        top: 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .homeImageGridOne {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .cropped img{
        width: 90vw;
    }

    .contactImage{
        top: -175px;
    }
}

@media only screen and (max-width: 780px) {
    .contactImage{
        top: -50px;
    }
}

@media only screen and (max-width: 600px) {
    .contactImage{
        top: 0px;
    }
}

