

nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 20px;
    align-items: center;
}

nav h1 {
    margin: 10px;
}

.beanLogo {
    background-image: url('../../assets/coffeebean.jpg');
    width: 100px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    grid-column: 1;
}

.linksContain{
    grid-column: 2/8;
}

.signUp {
    background-color: orangered;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
}

.link {
    text-decoration: none;
    color: black;
    margin: 10px;
}
.drawer{
    grid-column: 11;
}
.signUpNav{
    grid-column: 11/13;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
