@keyframes display {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0;
    }
  }

.display {
    animation: display;
    animation-duration: .7s;
}
.contactBanner{
  width: 100vw;
  height: 20vh;
  background-color: black;
}