#cartContain{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#itemContainer{
    grid-column: 1/8;
    
}
#checkoutBox{
    margin-top: 30px;
    border-radius: 10px;
    grid-column: 9/13;
    height: 100px;
    

}
#checkoutBox div{
    width: 80%;
    background-color: aqua;
    
    border-radius: 10px;
    height: 400px;
    
    

}
.itemCardContain{
    display: flex;
    justify-content: center;
}
.checkoutCard{
    margin-top: 30px;
    border-radius: 10px;
    min-height: 400px;
    width: 80%;
    background-color: aqua;
    padding: 10px;
}
.individualItem{
    width: 100%;
    border-radius: 10px;
    
    background-color: gray;
    margin-top: 10px;
    position: relative
   
}
.centerText{
    text-align: center;
}
.centerText h6{
    font-weight: bolder;
}
.removeButton{
    position: absolute;
    top: 50%;
    right:10px;
    transform: translate(0%, -35%);
}
@media only screen and (max-width:760px){
    .centerText{
        width: 50%;
        padding-bottom: 10px
    }
}