@keyframes display {
    from {
      opacity: 0;
    }
    95% {
        opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }

@keyframes fadeIn {
  0% {
    transform: translateX(-375px);
 }
 100% {
    transform: translateX(0px);
 }
}

@keyframes fadeOut {
  0% {
    transform: translateX(375px);
 }
 100% {
    transform: translateX(0px);
 }
}

.display {
    animation: display;
    animation-duration: .7s;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    position: fixed;
    top: 200px;
  }

  .markerDiv {
    margin: none;
    border: none;
    padding: solid 1px black;
    font-size: 25px;
    font-weight: bolder;
  }

  .eventAside {
    animation: fadeOut;
    animation-duration: 1s;

    position: fixed;
    height: 100vh;
    background-color: rgba(244, 244, 244,1);
    z-index: 1;
    width: 400px;
    left: -375px;
  }

  
  .eventAside2 {
    animation: fadeIn;
    animation-duration: 1s;

    position: fixed;
    height: 100vh;
    background-color: rgba(244, 244, 244,1);
    z-index: 1;
    width: 400px;
  }

  .eventHeader {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
  }


  .openBtn {
    position:absolute;
    right: -5%;
    bottom: 51%;
    color: black;
    background-color: white;
    padding: 11px;

    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 45px;
    height: 48px;
    text-align:center;
    text-decoration:none;
    margin:0px auto;
    font-size: 17px;
  }

  .closeBtn {
    position:absolute;
    bottom:51%;
    color: black;
    background-color: white;
    padding: 11px;

    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 45px;
    height: 48px;
    right: -5%;
    text-align:center;
    text-decoration:none;
    margin:0px auto;
    font-size: 17px;
  }